body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  /* Para quitarle la linea de abajo al ancla "a"*/
  text-decoration: none;
  /*Para arrastrar encima el mouse y cambie a una mano*/
  cursor: pointer;
}

header {
  width: 100%;
  height: 60px;
}

header nav {
  display: flex;
  /* justify-content sirve para que los (elementos) "ul" y "li" se vayan al final de fila. */
  justify-content: flex-end;
}

header nav .nav-right-section {
  width: 250px;
  /* height esta auto porque ya declaramos en "header" su size entonces le pones auto y tomara el de su padre*/
  height: auto;
  /* flex para que el contenido que tenemos que ponga de manera horizontal*/
  display: flex;
  /* Para quitarle los puntos que tiene los li*/
  list-style: none;
  /* Para centrar el contenido*/
  justify-content: center;
  align-items: center;
}

nav .nav-right-section a {
  margin-right: 10px;
  color: #000000;
}

nav .nav-right-section .menu-icon {
  background-image: url("https://static.thenounproject.com/png/756729-200.png");
  background-repeat: no-repeat;
  background-position: center;
  /*background-size: contain sirve para que el size se acomode al 
    contenedor se grande o se vuelva mas small dependiendo el caso.*/
  background-size: contain;
  width: 25px;
  height: 25px;
}
nav .nav-right-section img {
  border-radius: 50%;
  margin-left: 10px;
}

main {
  margin-top: 150px;
  text-align: center;
}
main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    width: 300px;
}

main .main-input{
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}
main .main-input-container {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-input-container input{
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
}

main .main-input-container:hover{
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

main .main-input .search-icon{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

main .main-input .micro-icon{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
